<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or Blueprints!</p>
    <label>Server Name</label>
    <!--<input type="text" class="form-control" [(ngModel)="newServerName"]--> <!--two-way binding-->
    <input type="text" class="form-control" #serverNameInput>
        <!-- ^^ using Local Reference serverNameInput - can only be used in the template code-->
    <label>Server Content</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerContent">--> <!--two-way data binding-->
    <input type="text" class="form-control" #serverContentInput>
    <!-- ^^ using Local Reference serverContentInput to showcase the @ViewChild property in TS-->
    <br>
    <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
  </div>
</div>
